name: CI
on:
  push:
  pull_request:
  schedule:
  - cron: '0 8 * * 2'
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        java: [8, 11]
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: olafurpg/setup-scala@v13
      with:
        java-version: "adopt@1.${{ matrix.java }}"
    - run: sbt -v "+ test"
